
.cart{
   position: relative;
    overflow-x: auto;
    overflow-y: auto;
    float: inline-end;
    text-align: center;
    background: white;
    color:black;
    height:auto;
    width:40%;
    margin-left: 60%;
    max-height: 30rem;;
}
.cart div{
    background-color: white;
}
.label{
    display:inline;
      
        justify-content: space-between;
    
    font-size: 100%;
}

