
.cart{
   position: relative;
    overflow-x: auto;
    overflow-y: auto;
    float: inline-end;
    text-align: center;
    background: white;
    color:black;
    height:auto;
    width:40%;
    margin-left: 60%;
    max-height: 30rem;;
}
.cart div{
    background-color: white;
}
.cart label{
    margin-left: 6rem;
    text-decoration: underline;
}

