.generic{
    
    padding-top: 10rem;
    max-height: 20rem;
    text-align: center;
    font-size: 90px;
    font-family: 'Times New Roman', Times, serif;
    background: gainsboro;
    overflow: auto;
}
.latest{
    font-size: 30px;
    font-style: italic;
}
.tour{
    text-align: center;
    font-size: 80px;
}
.spans{
    
    text-align: center;
   
}
.spans span{
    padding-left: 2rem;
}
.span{
   
    color: aqua;
}